:root {
    --main-theme-color: rgb(105, 105, 197);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    align-items: center;
}

.info-container h2{
    padding: 16px 0;
    margin-bottom: 16px;
    background-color: var(--main-theme-color);
    color: white;
}

.info-container h3 {

    width: 50%;
    flex-shrink: 1;
}

.choices-display {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    height: 240px;
    width: 450px;
}

.choices-display svg{
    width: 200px;
    height: 200px;
}

.info-container {
    text-align: center;
}

.scores {
    display: flex;
    justify-content: space-around;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: transparent;
    border: 6px solid var(--main-theme-color);
    border-radius: 24px;
    color: var(--main-theme-color);
}

.start-btn {
    height: 100px;
    width: 100%;
    height: 125px;
    font-size: 1.2rem;
}

button svg {
    font-weight: normal;
    padding: 8px;
    width: 110px;
    height: 110px;
    fill: var(--main-theme-color);
}

button:hover {
   opacity: 0.8;
}

button:active {
    opacity: 0.7;
}

.winner svg{
    fill: rgb(71, 196, 98);
}

.loser svg{
    fill: rgb(240, 54, 7);
}

.standoff svg {
    fill:rgb(243, 240, 41)
}